<web-app>
    <servlet>
        <servlet-name>CurrencyConverterServlet</servlet-name>
        <servlet-class>CurrencyConverterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CurrencyConverterServlet</servlet-name>
        <url-pattern>/CurrencyConverterServlet</url-pattern>
    </servlet-mapping>
</web-app>